anyio
async-timeout
beautifulsoup4
Brotli
certifi
charset-normalizer
coverage
deprecation
eyed3
filetype
h11
httpcore
httpx
idna
lyricsgenius
mutagen
packaging
Pillow
pycryptodomex
redis
requests
rfc3986
six
sniffio
soupsieve
spotipy
toml
tqdm
urllib3
websockets
youtube-search-python
yt-dlp
